.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }
  button{
    padding: 20px 60px;
    background-color: blue;
    color: white;
  }
  button:hover{
    background-color: green;
  }